<div>
  <div class="banner-half" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= @article.event.image_url %>');">
    <div class="banner-content">

      <p>Location: <%= @article.event.location %></p>
      <p>Date: <%= @article.event.date_time %></p>
      <h3>Topic: <%= @article.event.topic.name %></h3>
      <h3>Event: <%= @article.event.name %></h3>
      <p>Description: <%= @article.event.description %></p>

      <%= link_to "Previous Article", article_path(@prev_article), class: "btn btn-success" %>
      <%= link_to "Next Article", article_path(@next_article), class: "btn btn-success" %>

    </div>
  </div>
</div>

<!-- THE ARTICLE ------------------------------- -->

<div class="container">
  <div class="row">
     <div class="col-xs-6">

      <p> Article Title: </p>
      <h1> <%= @article.title %></h1>

      <p> Publishing Time</p>
      <p> <%= @article.date_time_published %></p>

      <p> Description:</p>
      <p><%= @article.description %> </p>

      <p> Article Text:</p>
      <p><%= @article.body_text %> </p>

      <p> Publisher: </p>

      <p><%= @article.publisher.name %> </p>

      <p> Author: </p>
      <p><%= @article.author.first_name %> </p>


      <p> Article Image:</p>
      <p><%= @article.image_url %>

      <p> Article Location:</p>
      <p> <%= @article.location %> </p>
      <p> <%= @article.lat %> </p>
      <p> <%= @article.lng %> </p>

      <p> Article Average Score:</p>
      <p> <%= @article.average_user_score %> </p>

      <p> Article Views:</p>
      <p> <%= @article.count_views %> </p>


    </div>
  </div>
<div>
