<!-- PAGE HEADER ------------------------------- -->

<div class="header">

    <div class="banner-half" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= @article.image_url %>);">

        <div class="row">

          <!-- LEFT COL -->
          <div class="col-xs-3">

            <!-- 1 -->
              <div class="top-box">
              </div>

            <!-- 2 -->
              <div class="middle-box">

                <h2 class="text-right">

                  <button>
                    <span id="user-suggests-url" class="blocked">
                      &nbsp - &nbsp
                    </span>
                  </button>

                </h2>
              </div>

            <!-- 3 -->
            <div class="bottom-box">
            </div>

          </div>
          <!-- LEFT COL END -->

          <!-- MAIN COL -->
          <div class="col-xs-9">

            <!-- ---- HEADER TITLES CARD ----- -->

              <!-- LOCATION TAG -->
              <p><span class="blocked-tag article-location">&nbsp <%= @article.location %>  &nbsp</span></p>
              <!-- TIME TAG -->
              <p><span class="blocked-tag article-time">&nbsp <%= @article.date_time_published %>  &nbsp</span></p>
              <p></p>



              <!-- TOPIC HEADER -->
              <h2>

              <span class="blocked add-topic-title">
                  <%= render 'following_items/form',
                    article: @article,
                    following_item: @following_item,
                    follower_type: 'Topic',
                    follower_id: @topic.id
                  %>
              </span>

              <span class="blocked topic-title">&nbsp <%= @article.event.topic.name %> &nbsp </span>
              <span class="list-notification-topic"><i class="fas fa-check"></i>  Item Added</span>

              </h2>

              <!-- EVENT HEADER -->

              <h2>

              <span class="blocked add-event-title">
                  <%= render 'following_items/form',
                    article: @article,
                    following_item: @following_item,
                    follower_type: 'Event',
                    follower_id: @event.id
                  %>
              </span>

              <span class="blocked event-title">&nbsp <%= @article.event.name %> &nbsp </span>
              <span class="list-notification-event"><i class="fas fa-check"></i>  Item Added</span>

              </h2>


              <p class="event-description">Description: <%= @article.event.description %></p>

              <%= link_to "Previous", article_path(@prev_article), class: "btn btn-default" %>
              <%= link_to "Next", article_path(@next_article), class: "btn btn-default" %>

            <!-- ---- HEADER CARD END ----- -->

          </div>
          <!-- col two end -->

          <div class="col-0">
          </div>
          <!-- col three end -->

        </div>
        <!-- row end -->

  </div>
  <!-- banner-half end -->

</div>
<!-- header end -->
<!-- PAGE HEADER END------------------------------- -->



<ul class="flex-container">

  <!-- SIDEBAR 1 - EMPTY ------------------------------- -->


  <li class="flex-item flex-sidebar-left">

    <!-- USER SCORES ------------------------------------------ -->

      <div class="user-scores-container">

        <% if current_user.can_user_vote(@article.id) %>
            <%= form_for([@article, @user_score]) do |f| %>
              <%= f.hidden_field :score, :value => 1 %>
              <%= button_tag type: 'submit' do %>
                      <i class="fas fa-chevron-up"></i>
              <% end %>
            <% end %>
        <% else %>
              <%= button_tag type: 'submit', disabled: true do %>
                      <i class="fas fa-chevron-up"></i>
              <% end %>
        <% end %>

            <% if @raw_scores.present?  %>

                      <p class="avg-score"><%= @average_score %></p>


              <% else %>
                <p class="avg-score">0</p>
            <% end %>

        <% if current_user.can_user_vote(@article.id) %>
            <%= form_for([@article, @user_score]) do |f| %>
              <%= f.hidden_field :score, :value => -1 %>
              <%= button_tag type: 'submit' do %>
                  <i class="fas fa-chevron-down"></i>
              <% end %>
            <% end %>
        <% else %>
              <%= button_tag type: 'submit', disabled: true do %>
                  <i class="fas fa-chevron-down"></i>
              <% end %>
        <% end %>

    </div>

  </li>

  <!-- ARTICLE ------------------------------------------ -->

  <li class="flex-item flex-main">
    <p> Article Title: </p>
    <h1> <%= @article.title %></h1>

    <p> Publishing Time</p>
    <p> <%= @article.date_time_published %></p>

    <p> Description:</p>
    <p><%= @article.description %> </p>

    <p> Article Text:</p>
    <p><%= @article.body_text %> </p>

    <p> Publisher: </p>
    <p><%= @article.publisher.name %> </p>

    <p> Author: </p>
    <p><%= @article.author.first_name %> </p>

    <p> Article Image:</p>
    <p><%= @article.image_url %>

    <p> Article Location:</p>
    <p> <%= @article.location %> </p>
    <p> <%= @article.lat %> </p>
    <p> <%= @article.lng %> </p>

    <p> Article Average Score:</p>
    <p> <%= @article.average_user_score %> </p>

    <p> Article Views:</p>
    <p> <%= @article.count_views %> </p>

  </li>

  <!-- SIDEBAR 2 - RELATED ARTICLES ------------------------------- -->

  <li class="flex-item flex-sidebar-right">

    <h3>Related Articles by event</h3>
<!--     <p>Location: Distance</p>
    <p>Popularity: Average Userscore</p>
    <p>Views: user:Views</p> -->

    <p><%= @article.event.topic.name %></p>
    <p><%= @article.event.name %></p>

    <% @related_articles.each_with_index do | article, i| %>

<!-- ---- ARTICLE CARD ----- -->

    <div class="s-card-article">
      <div class="s-image-article" style="background-image: linear-gradient(-225deg, rgba(161,90,187,0.6) 0%, rgba(45,23,54,0.8) 50%), url(<%= article.image_url %>);"><h3>#<%= (i + 1) %></h3>
      </div>

      <div class="s-card-publisher">
        <h3 class="s-card-header-text"><%= article.publisher.name %></h3>
        <img class="s-image-publisher" src= <%= article.publisher.image_url %> >
      </div>
      <div class="s-card-body s-card-text" >
        <h3><%= article.title %></h3>
        <br>
        <p><%= article.description%></p>
        <p><%= article.date_time_published%></p>
        <p><% time_read = article.body_text.reading_time :format => :approx %></p>


      <h4><%= time_read.include?('seconds') ? '1 minute' : time_read %> read</h4>

        <% day_num = article.date_time_published.mday %>
            <% case day_num
               when 1 %><% date_sufix = 'st' %>
            <% when 2 %><% date_sufix = 'nd' %>
            <% when 3 %><% date_sufix = 'rd' %>
            <% else %><% date_sufix = 'th' %>
            <% end %>
        <p><%= article.date_time_published.mday %><%= date_sufix %></p>
        <p><%= article.date_time_published.strftime("%H") %>.00</p>
        <% time_read = article.body_text.reading_time :format => :approx %>
          <!-- Below: If time is only seconds display '1 minute' otherwise display actual time -->
        <br>
      <p><%= link_to "See Article", article_path(article) %></p>

      </div>
    </div>

<!-- ---- ARTICLE CARD END----- -->
<br>

    <% end %> <!-- article loop end -->

  </li>

  <!-- FOOTER ------------------------------- -->
  <li class="flex-item flex-footer">

  </li>
</ul> <!-- flex-container end -->
