<!-- [ ARTICLES SHOW ]--------------------------------------------------- -->
<!-- [ PAGE HEADER ]-------------------------------- START -------------- -->

<div class="header">

    <div class="banner-half"
    style="background-image:
      linear-gradient(-225deg,
      rgba(150,10,115,0.8) 0%,
      rgba(255,77,0,0.4) 50%),
    url(<%= @event.image_url %>);">

        <div class="row">


          <!-- [ HEADER ][ COL-1 - LEFT ] ---------- START ------------------- -->
          <!-- [ ACTION BAR ] -->
          <div class="col-xs-2">

            <div class="top-box">
            </div>

            <div class="middle-box">
              <p class="text-right">
                <button id="user-suggests-url" class="blocked">
                &nbsp + &nbsp
                </button>
              </p>
            </div>

            <div class="bottom-box">
            </div>

            </div>
          <!-- [ HEADER ][ COL-1 - LEFT ] ------------- END ---------------- -->


          <!-- [ HEADER ][ COL-2 - MIDDLE ] ----------- START ------------------ -->
          <!-- [ TITLE BAR ] -->

          <div class="col-xs-10">

            <!-- ---- HEADER TITLES CARD ----- -->

              <!-- LOCATION TAG -->
              <p><span class="blocked-tag article-location">
                &nbsp <%= @article.location %>  &nbsp</span></p>
              <!-- TIME TAG -->
              <p><span class="blocked-tag article-time">&nbsp <%= @article.date_time_published %>  &nbsp</span></p>
              <p></p>

              <!-- TOPIC HEADER -->
              <h2>
                <span class="blocked add-topic-title">
                    <%= render 'following_items/form',
                      # article: @article,
                      following_item: @following_item,
                      follower_type: 'Topic',
                      follower_id: @topic.id
                    %>
                </span>

                <span class="blocked topic-title">
                  &nbsp <%= @article.event.topic.name %> &nbsp
                </span>
                <span class="list-notification-topic">
                  <i class="fas fa-check">
                  </i>  Item Added</span>
              </h2>

              <!-- EVENT HEADER -->
              <h2>
                <span class="blocked add-event-title">
                    <%= render 'following_items/form',
                      # article: @article,
                      following_item: @following_item,
                      follower_type: 'Event',
                      follower_id: @event.id
                    %>
                </span>
                <span class="blocked event-title">
                  &nbsp <%= @article.event.name %> &nbsp
                </span>

                <span class="list-notification-event"><i class="fas fa-check"></i>  Item Added</span>

              </h2>

              <p class="event-description">Description: <%= @article.event.description %></p>

<!--               <#%= if @article.event.articles = 1 %>
              <#% else %> -->

                <span><%= link_to "[ Previous ]", article_path(@prev_in_event), class: "btn btn-default" %></span>
                <span><%= link_to "[ Next ]", article_path(@next_in_event), class: "btn btn-default" %></span>
              <!-- <#% end %> -->

            <!-- ---- HEADER CARD END ----- -->
          </div>
          <!-- [ HEADER ][ COL-2 - MIDDLE ] ------------- END ------------- -->

          <!-- [ HEADER ][ COL-3 - RIGHT ] -------------------------------- -->
          <!-- [ -- ] -->
          <div class="col-0">
          </div>
          <!-- [ HEADER ][ COL-3 - RIGHT ] ------------- END -------------- -->

        </div>
        <!-- row end -->
  </div>
  <!-- banner-half end -->
</div>
<!-- header end -->

<!-- [ PAGE HEADER ]-------------------------------- END -------------- -->




<!-- [ PAGE BODY ]-------------------------------- START -------------- -->

<div class="container">
<div class="row">

  <!-- [ MAIN BODY ][ COL-1 - LEFT ] -------------------------------- -->
  <!-- [ ARTICLE ACTION BAR ] -->
  <div class="col-xs-3">

    <!-- USER SCORES ------------------------------------------ -->
  <br>
  <div class="text-center" style= "width: 24px">

          <% if current_user.nil? %>

                <%= render 'articles/shared/new_session_btn', icon: 'up' %>

                <%= render 'articles/shared/user_score_section',
                raw_scores: @raw_scores,
                average_score: @average_score
                %>

                <%= render 'articles/shared/new_session_btn', icon: 'down' %>

          <% else %>

              <% if current_user.can_user_vote(@article.id) %>

                  <%= render 'articles/shared/new_score',
                      article: @article,
                      user_score: @user_score,
                      value: 1,
                      icon: 'up'
                  %>

                <%= render 'articles/shared/user_score_section',
                raw_scores: @raw_scores,
                average_score: @average_score
                %>

                  <%= render 'articles/shared/new_score',
                      article: @article,
                      user_score: @user_score,
                      value: -1,
                      icon: 'down'
                  %>

              <% else %>

            <%= render 'articles/shared/frozen_score_btn', icon: 'up' %>

                <%= render 'articles/shared/user_score_section',
                raw_scores: @raw_scores,
                average_score: @average_score
                %>

            <%= render 'articles/shared/frozen_score_btn', icon: 'down' %>

            <% end %>

        <% end %>

  </div>

  <br>

      <% saved_article = current_user.article_saved?(@article.id) %>
      <% if saved_article %>

          <%= link_to "remove",
          article_save_article_path(@article, saved_article),
          class: 'btn btn-default remove-saved-article',
          method: :delete
          %>

      <% else %>

          <%= render 'articles/shared/add_article',
          article: @article,
          save_article: @save_article,
          text: 'save'
          %>

      <% end %>

  <br>

  <div>
      <span>
       <p class="btn btn-default">
          &nbsp&nbsp&nbsp
            <i class="fab fa-twitter"></i>
          &nbsp&nbsp&nbsp
        </p>
      </span>
  </div>
  <div>
      <span>
       <p class="btn btn-default">
          &nbsp&nbsp&nbsp&nbsp
            <i class="fab fa-facebook-f"></i>
          &nbsp&nbsp&nbsp&nbsp
        </p>
      </span>
  </div>




  </div>

  <!-- [ MAIN BODY ][ COL-2 - MIDDLE ] -------------------------------- -->
  <!-- [ ARTICLE ] -->
  <div class="col-xs-6">
    <%= render 'articles/shared/article_show',
      article: @article
    %>
  </div>

  <!-- [ MAIN BODY ][ COL-3 - RIGHT ] -------------------------------- -->
  <!-- [ RELATED ARTICLES ] -->
  <div class="col-xs-3">

    <br>
    <h3>Related Articles:</h3>
    <br>
    <p><strong>Topic:</strong></p>
    <p><%= @article.event.topic.name %></p>
    <p><strong>Event:</strong></p>
    <p><%= @article.event.name %></p>

    <% @related_articles.each_with_index do | article, i| %>

    <!-- ---- [ ARTICLE CARD ]----- -->

        <div class="s-card-article">
          <div class="s-image-article"
          style="background-image:
            linear-gradient(-225deg,
            rgba(161,90,187,0.6) 0%,
            rgba(45,23,54,0.8) 50%),
          url(<%= article.image_url %>);">
            <h3>
              #<%= (i + 1) %>
            </h3>
          </div>

          <div class="s-card-publisher">
            <h3 class="s-card-header-text"><%= article.publisher.name %></h3>
            <img class="s-image-publisher" src= <%= article.publisher.image_url %> >
          </div>

          <div class="s-card-body s-card-text" >
            <h3><%= article.title %></h3>
            <br>
            <p><%= article.description%></p>
            <p><%= article.date_time_published%></p>
            <p><% time_read = article.body_text.reading_time :format => :approx %></p>

          <h4><%= time_read.include?('seconds') ? '1 minute' : time_read %> read</h4>

            <% day_num = article.date_time_published.mday %>
                <% case day_num
                   when 1 %><% date_sufix = 'st' %>
                <% when 2 %><% date_sufix = 'nd' %>
                <% when 3 %><% date_sufix = 'rd' %>
                <% else %><% date_sufix = 'th' %>
                <% end %>
            <p><%= article.date_time_published.mday %><%= date_sufix %></p>
            <p><%= article.date_time_published.strftime("%H") %>.00</p>
            <% time_read = article.body_text.reading_time :format => :approx %>
              <!-- Below: If time is only seconds display '1 minute' otherwise display actual time -->
          <br>
          <p><%= link_to "See Article", article_path(article) %></p>

          </div>
        </div>

         <br>

    <!-- ----[ ARTICLE CARD END ]----- -->

    <% end %>
  </div>
  <!-- COL END -->
</div>
<!-- ROW END -->
</div>
<!-- CONTAINER END -->

<!-- [ PAGE BODY ]-------------------------------- END -------------- -->
