<div>
  <div class="banner-half" style="background-image: linear-gradient(-225deg, rgba(161,90,187,0.6) 0%, rgba(45,23,54,0.8) 50%), url(<%= @articles.last.image_url %>);">


      <div class="banner-content">
          <% if params[:query].present? %>
              <h1>Search: <%= params[:query] %></h1>
          <% else %>
              <h1>Topics</h1>
          <% end %>

      <!-- SEARCH BY --------------------------------->

      <%= form_tag(topics_path, method: :get, role: 'form', name: "query") do %>

        <div class='row'>
          <div class='offset-xs-0 col-xs-12 offset-md-0 col-md-12'>

            <div class="form-group">

                <%= text_field_tag :query, nil, placeholder: 'search',
                  class: 'form-control'
                %>

<!--                <#%= link_to "", topics_path,
                class: "fas fa-arrow-right btn btn-green" %>
 -->
                <%= submit_tag "Search",
                  class: "fas fa-arrow-right btn btn-green"
                %>

            </div>

          </div>
          <!-- col end -->
        </div>
        <!-- row end -->
      <% end %>
    </div>
    <!-- banner content end -->
  </div>
  <!-- banner half end -->

<!-- LIST SEARCHED ------------------------------- -->

<div class="container">

  <div class="row">
    <div class='offset-xs-0 col-xs-12 offset-md-0 col-md-12'>

            <!-- If search done  -->
            <% if @documents.length.positive? %>
              <%  @documents.each do | doc | %>

                      <!-- If the document retrieved is an Event  -->
                      <% if doc.searchable_type === 'Event' %>

                      <!-- Part of PGSearch  -->
                      <% document = doc.searchable %>

                        <p>EVENT</p>

                        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= document.image_url %>);">
                          <div class="card-category">Popular</div>
                          <div class="card-description">
                              <ul>
                                <li>
                                  <h2><%= document.name %> </h2>
                                  <%= document.location %>
                                  <%= document.date_time %>
                                  <%= link_to "show event", event_path(document) %>

                                </li>
                              </ul>
                          </div>
                          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
                        </div>

                      <!-- If the document retrieved is a Topic -->
                      <% elsif doc.searchable_type === 'Topic' %>

                      <!-- Part of PGSearch  -->
                      <% document = doc.searchable %>

                        <p>TOPIC</p>

                        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= document.image_url %>);">
                          <div class="card-category">Popular</div>
                          <div class="card-description">
                              <ul>
                                <li>
                                  <h2><%= document.name %> </h2>
                                  <%= link_to "show topic", event_path(document) %>
                                </li>
                              </ul>
                          </div>
                          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
                        </div>

                      <% else %>

                      <!-- If the document retrieved is an article  -->

                      <p>ARTICLE</p>

                        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= doc.searchable.image_url %>);">
                          <div class="card-category">Popular</div>
                          <div class="card-description">
                              <ul>
                                <li>
                                  <h2><%= doc.searchable.title %> </h2>
                                  <%= doc.searchable.location %>
                                  <%= doc.searchable.date_time_published %>
                                  <%= link_to "show article", event_path(doc.searchable) %>

                                </li>
                              </ul>
                          </div>
                          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
                        </div>

                      <% end %>

              <% end %>

          <!-- If no search done  -->
          <% else %>
                  <p>All Articles</p>

              <%  @articles.each_with_index do | article, i | %>


                <!-- ---- ARTICLE CARD ----- -->
                <div class="s-card-article">
                  <div class="s-image-article" style="background-image: linear-gradient(-225deg, rgba(161,90,187,0.6) 0%, rgba(45,23,54,0.8) 50%), url(<%= article.image_url %>);"><h3>#<%= (i + 1) %></h3>
                  </div>

                  <div class="s-card-publisher">
                    <h3 class="s-card-header-text"><%= article.publisher.name %></h3>
                    <img class="s-image-publisher" src= <%= article.publisher.image_url %> >
                  </div>
                  <div class="s-card-body s-card-text" >
                    <h3><%= article.title %></h3>
                    <p><%= article.description%></p>
                    <p><%= article.date_time_published%></p>
                    <p>reading time</p>
                    <p><%= link_to "show article", article_path(article) %></p>
                  </div>
                </div>
                <!-- ---- ARTICLE CARD END----- -->

              <% end %>

          <% end %>

    </div> <!-- col end -->
  </div> <!-- row end -->

</div> <!-- container end -->
