<!-- [ TOPICS INDEX ]  ------------------------------------- -->

<!-- [ PAGE HEADER ]  ---------------- START --------------- -->


<div class="header">

    <div class="banner-half"

     style="background-image:
        linear-gradient(-225deg,
        rgba(18,240,181,0.6) 0%,
        rgba(15,153,200,0.8) 50%),
        url(<%= @topic.image_url %>);">

        <!-- [ PAGE HEADER ][ COL-1 - LEFT ] ----------- START --------------- -->
        <!-- [           LEFT            ] -->

          <div class="flex-header-1">
          <div>
          <!-- LEFT END -->

        <!-- [           LEFT            ] -->
       <!-- [ PAGE HEADER ][ COL-1 - LEFT ] -------------- END --------------- -->

      <!-- ------------------------------------------------------------------- -->

       <!-- [ PAGE HEADER ][ COL-2 - MIDDLE ] ----------- START -------------- -->
        <!-- [        TITLES           ] -->

          <div class="flex-header-2 text-center">

            <!-- ---- [ HEADER TITLES CARD ] ------ START --------- -->

              <!-- LOCATION TAG -->
              <p><span class="blocked-tag">&nbsp <%= @topic.events.first.location %>  &nbsp</span></p>
              <!-- TIME TAG -->
              <p><span class="blocked-tag">&nbsp <%= @topic.events.first.articles.first.date_time_published %>  &nbsp</span></p>
              <p></p>

              <h2><span class="blocked topic-title">&nbsp <%= @topic.name %> &nbsp </span></h2>
              <p>Description:<%= @topic.events.first.description %></p>
                           <p> With <%= @topic.events.count %> Events</p>

            <!-- ---- [ HEADER TITLES CARD ] ------ END --------- -->

          </div>
            <!-- TITLE END -->

        <!-- [        TITLES           ] -->
       <!-- [ PAGE HEADER ][ COL-2 - MIDDLE ] ----------- END --------- -->

          </div>
          <!-- BANNER HALF -->
      </div>
      <!-- HEADER -->

</div>
<!-- [ PAGE HEADER ]  ---------------- END ----------------------------- -->


<!-- ------------------------------------------------------------------- -->
<!-- [ PAGE BODY ]  ---------------- START ----------------------------- -->

<!-- [ TOPICS EVENTS LIST ]  ------------------------------- -->

<div class="container">
  <div class="row">
    <div class='offset-xs-0 col-xs-12 offset-md-0 col-md-12'>


              <p>All news events of from <%= @topic.name %> :</p>
              <%  @events.each_with_index do | event, i | %>

              <br>
                <!-- ---- EVENT CARD ----- -->

                <div class="a-card-event-box"
                style="background-image:
                  linear-gradient(-225deg,
                  rgba(150,10,115,0.8) 0%,
                  rgba(255,77,0,0.4) 50%),
                url(<%= event.image_url %>);">
                <h3>#<%= (i + 1) %></h3>
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                    <span class="blocked-sml">&nbsp &nbsp <%#= event.events.first.location %>  &nbsp &nbsp</span>
                    <span class="blocked-sml">&nbsp &nbsp <%#= event.events.first.date_time %>  &nbsp &nbsp</span>
                  <p></p>
                    <h2><span class="blocked">&nbsp # &nbsp</span>
                      <span class="blocked">&nbsp <%= event.topic.name %> &nbsp</span></h2>
                  <p></p>
                    <h2><span class="blocked">&nbsp # &nbsp</span>
                      <span class="blocked">&nbsp <%= event.name %> &nbsp</span></h2>
                  <p></p>
                  <p></p>
                  <p>Summary: { <%= event.articles.count %> articles }, between { 3rd Jan 2018 } and { 24th Dec 2018 } The story of: <%= event.description %></p>
                  <%= link_to 'See Event', event_path(event), class:"btn btn-outline-grey"%>
                </div>

                <!-- ---- EVENT CARD END ----- -->

              <% end %>

    </div> <!-- col end -->
  </div> <!-- row end -->
</div> <!-- container end -->
