<br>
<h3>Article</h3>
<br>

<!-- ---- [ ARTICLE CARD ] ------------------------ START ------------------------- -->

  <% i = @index %>

                <!-- ---- [ ARTICLE CARD ]  ----- -->

                <%= link_to article_path(@document), class: 's-card-article' do %>

                    <div class="s-image-article"
                      style="background-image:
                      linear-gradient(-225deg,
                      rgba(161,90,187,0.8) 0%,
                      rgba(45,23,54,0.2) 50%),
                      url(<%= @document.image_url %>);">

                    <div class="article-text-header">

                      <div class="article-index-header">
                        <h3>#<%= (i + 1) %></h3>
                      </div>

                      <div class="article-reading-time-header text-right">
                         <h4><%= (@document.body_text.reading_time :format => :approx).include?('seconds') ===false ? (@document.body_text.reading_time :format => :approx) : '1 minute' %></h4>
                      </div>

                    </div>



                    </div>

                    <div class="s-card-publisher">
                        <h3 class="s-card-header-text"><%= @document.publisher.name %></h3>
                        <img class="s-image-publisher" src= <%= article.publisher.image_url %> >
                    </div>

                    <div class="s-card-body s-card-text" >
                      <h3 class="article-title"><%= @document.title %></h3>
                      <h5 class="article-description"><%= @document.description%></h5>

                        <% day_num = @document.date_time_published.strftime("%l").to_i %>
                            <% case day_num
                               when 1 %><% date_sufix = 'st' %>
                            <% when 2 %><% date_sufix = 'nd' %>
                            <% when 3 %><% date_sufix = 'rd' %>
                            <% else %><% date_sufix = 'th' %>
                            <% end %>

                      <div class="article-card-footer">

                          <div class="article-date txt-outline-grey">
                            <i class="far fa-calendar"></i>
                             <%= @document.date_time_published.strftime("%e")%><%= date_sufix %>
                          </div>

                          <div class="article-hour text-center txt-outline-grey">
                            <i class="far fa-clock"></i>
                            <%= @document.date_time_published.strftime("%l")%>.00
                          </div>

                      </div>

                  </div>

                  <% end %>

                <!-- ---- [ ARTICLE CARD ]  ----- -->


<!-- ---- [ ARTICLE CARD ] ------------------------- END ----------------------------- -->
