<br>
<h3>Event</h3>
<br>

<!-- ---- [ EVENT  CARD ]  ----------------------------------- START ------------------------ -->

<% index_num = @index %>


               <div class="a-card-event-box"
                style="background-image:
                  linear-gradient(-225deg,
                  rgba(150,10,115,0.8) 0%,
                  rgba(255,77,0,0.4) 50%),
                url(<%=  @document.image_url %>);">

                    <div class="event-header">
                      <div class="event-index">
                        <h3>#<%= (index_num + 1) %></h3>
                      </div>

                      <div class="event-num-articles text-right">
                         <h4><%=  @document.articles.count %> articles</h4>
                      </div>
                    </div>

                    <div class="event-icon-boxes">
                      <div class="event-location">
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        <span><%=  @document.location %></span>
                      </div>
                      <div class="event-date">
                        <span><%=  @document.articles.first.date_time_published.strftime("%A, %b %d") %></span>
                      </div>
                    </div>

                    <div class="event-topic">

                        <h2>
                          <span class="blocked">
                            &nbsp # &nbsp
                          </span>
                          <span class="blocked">&nbsp <%=  @document.topic.name %> &nbsp

                          </span>
                        </h2>
                    </div>

                    <div class="event-title">
                        <h2>
                          <span class="blocked">
                            &nbsp # &nbsp
                          </span>
                          <span class="blocked">&nbsp <%=  @document.name %>
                            &nbsp
                          </span>
                        </h2>
                    </div>

                    <div class="event-summary-container">
                      <p class="event-summary">Summary: <%=  @document.description %></p>
                    </div>

                    <div class="event-footer">
                      <%= link_to 'See Event', event_path( @document), class: 'btn btn-default'%>
                    </div>

                </div>

<!-- ---- [ EVENT CARD ]  ----------------------------------- END ------------------------ -->
