<!--     <p><strong> Article Title: </strong></p> -->
    <h1> <%= article.title %></h1>
    <br>
    <p><strong>Publishing Time</strong></p>
    <p> <%= article.date_time_published %></p>

    <p><strong>Description:</strong></p>
    <p><%= article.description %> </p>

    <p><strong>Article Text:</strong></p>
    <p><%= article.body_text %> </p>

    <p><strong>Publisher:</strong></p>
    <p><%= article.publisher.name %> </p>

    <p><strong>Author:</strong></p>
    <p><%= article.author.first_name %> </p>

    <p><strong>Article Image:</strong></p>
    <p><%= article.image_url %>

    <p><strong>Article Location:</strong></p>
    <p> <%= article.location %> </p>
    <p> <%= article.lat %> </p>
    <p> <%= article.lng %> </p>

    <p><strong>Article Average Score:</strong></p>
    <p> <%= article.average_user_score %> </p>

    <p><strong>Article Views:</strong></p>
    <p> <%= article.count_views %> </p>
