    <!-- ---- [ ARTICLE CARD ]  ----- -->

    <%= link_to article_path(article), class: 's-card-article' do %>

        <div class="s-image-article"
          style="background-image:
          linear-gradient(-225deg,
          rgba(161,90,187,0.8) 0%,
          rgba(45,23,54,0.2) 50%),
          url(<%= article.image_url %>);">

        <div class="event-header">

          <div class="event-index">
            <h3>#<%= (i + 1) %></h3>
          </div>

          <div class="event-num-articles text-right">
             <h4><%= (article.body_text.reading_time :format => :approx).include?('seconds') ===false ? (article.body_text.reading_time :format => :approx) : '1 minute' %></h4>
          </div>

        </div>

        </div>

        <div class="s-card-publisher">
            <h3 class="s-card-header-text"><%= article.publisher.name %></h3>
            <img class="s-image-publisher" src= <%= article.publisher.image_url %> >
        </div>

        <div class="s-card-body s-card-text" >
          <h3 class="article-title"><%= article.title %></h3>
          <h5 class="article-description"><%= article.description%></h5>

            <% day_num = article.date_time_published.strftime("%l").to_i %>
                <% case day_num
                   when 1 %><% date_sufix = 'st' %>
                <% when 2 %><% date_sufix = 'nd' %>
                <% when 3 %><% date_sufix = 'rd' %>
                <% else %><% date_sufix = 'th' %>
                <% end %>

          <div class="article-card-footer">

              <div class="article-date txt-outline-grey">
                <i class="far fa-calendar"></i>
                 <%= article.date_time_published.strftime("%e")%><%= date_sufix %>
              </div>

              <div class="article-hour text-center txt-outline-grey">
                <i class="far fa-clock"></i>
                <%= article.date_time_published.strftime("%l")%>.00
              </div>

          </div>

      </div>

      <% end %>

    <!-- ---- [ ARTICLE CARD ]  ----- -->
