<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <p class="navbar-wagon-link">Sift</p>

  <div>
    <%= link_to "Topics", topics_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Events", events_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Articles", articles_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <span style="color: rgba(0,0,0,0.2)">|</span>
    <%= link_to "Features", topics_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "About us", topics_path, class: "navbar-wagon-item navbar-wagon-link" %>
  </div>
    <!-- <#%= image_tag "logo.png", height: 50 %> -->
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>
      <div>
        <%= link_to "Map", events_path, class: "navbar-wagon-item navbar-wagon-link" %>
      </div>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">

          <% if current_user.photo.nil? %>

          <% else %>
            <%= image_tag current_user.photo, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% end %>

          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>

              <% if user_signed_in? %>
                <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
                 <li role="separator" class="divider"></li>

                <li><%= link_to 'Profile', profile_path(current_user) %></li>
                <li><%= link_to 'Edit Profile', edit_profile_path(current_user) %></li>
                 <li role="separator" class="divider"></li>

                <li><%= link_to "Articles", articles_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
                <li><%= link_to "Topics", topics_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
                <li><%= link_to "Events", events_path, class: "navbar-wagon-item navbar-wagon-link" %></li>

                <li role="separator" class="divider"></li>
                <li><%= link_to "Map", events_path, class: "navbar-wagon-item navbar-wagon-link" %></li>

              <% else %>
                <li><%= link_to 'Log In', new_user_session_path %></li>
                <li role="separator" class="divider"></li>

                <li><%= link_to "Features", "#", class: "navbar-wagon-item navbar-wagon-link" %></li>
                <li><%= link_to "About us", "#", class: "navbar-wagon-item navbar-wagon-link" %></li>
                 <li role="separator" class="divider"></li>

                <li><%= link_to "Latest Articles", articles_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
                <li><%= link_to "Topics", topics_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
                <li><%= link_to "Current Events", events_path, class: "navbar-wagon-item navbar-wagon-link" %></li>

                <li role="separator" class="divider"></li>
                <li><%= link_to "Map", events_path, class: "navbar-wagon-item navbar-wagon-link" %></li>


              <% end %>

<!--               <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li> -->

          </ul>

        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li>
              <% if user_signed_in? %>
                <li><%= link_to 'Profile', profile_path(current_user) %></li>
                <li><%= link_to 'Edit Profile', edit_profile_path(current_user) %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>

              <% else %>
                <li><%= link_to 'Log In', new_user_session_path %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Latest Articles", articles_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
                <li><%= link_to "Topics", topics_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
                <li><%= link_to "Current Events", events_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Features", "#", class: "navbar-wagon-item navbar-wagon-link" %></li>
                <li><%= link_to "About us", "#", class: "navbar-wagon-item navbar-wagon-link" %></li>
                <% end %>
        </li>
      </ul>
    </div>
  </div>


</div> <!-- end - fixed header div (starts in nav) -->
