<!-- PAGE HEADER ------------------------------- -->

<div class="header">

    <div class="banner-half"
    style="background-image: linear-gradient(-225deg, rgba(161,90,187,0.6) 0%, rgba(45,23,54,0.8) 50%),
       url(<%= @articles.find(@articles.pluck(:id).sample).image_url %>);">

        <div class="row">

          <!-- LEFT COL -->
          <div class="col-xs-3">

            <div class="top-box">
              <p></p>
            </div>

            <div class="middle-box">
              <p></p>
            </div>

            <div class="bottom-box">
              <p></p>
            </div>

          </div>
          <!-- col one end -->

          <!-- MAIN COL -->
          <div class="col-xs-9">

            <!-- ---- HEADER TITLES CARD ----- -->

              <!-- TOPIC HEADER -->
              <h2><span
                class="blocked">&nbsp Events &nbsp
              </span></h2>
              <!-- EVENT HEADER -->
              <p></p>
              <p></p>
              <p>The collection of all the news events in sift</p>

              <%= link_to "News Articles", articles_path, class: "btn btn-default" %>
              <%= link_to "News Topics", topics_path, class: "btn btn-default" %>

            <!-- ---- HEADER CARD END ----- -->

          </div>
          <!-- col two end -->

          <div class="col-0">
          </div>
          <!-- col three end -->

        </div>
        <!-- row end -->

  </div>
  <!-- banner-half end -->

</div>
<!-- header end -->
<!-- PAGE HEADER END------------------------------- -->




<!-- LIST  ------------------------------- -->

<div class="container">
  <div class="row">
    <div class='offset-xs-0 col-xs-12 offset-md-0 col-md-12'>


              <p>All news events:</p>
              <%  @events.each_with_index do | event, i | %>

              <br>
                <!-- ---- TOPIC CARD ----- -->

                <div class="a-card-event-box"
                style="background-image: linear-gradient(-225deg, rgba(18,240,181,0.6) 0%, rgba(15,153,200,0.8) 50%),
                url(<%= event.image_url %>);">
                <h3>#<%= (i + 1) %></h3>
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                    <span class="blocked-sml">&nbsp &nbsp <%#= event.events.first.location %>  &nbsp &nbsp</span>
                    <span class="blocked-sml">&nbsp &nbsp <%#= event.events.first.date_time %>  &nbsp &nbsp</span>
                  <p></p>
                    <h2><span class="blocked">&nbsp # &nbsp</span>
                      <span class="blocked">&nbsp <%= event.topic.name %> &nbsp</span></h2>
                  <p></p>
                    <h2><span class="blocked-light">&nbsp # &nbsp</span>
                      <span class="blocked-light">&nbsp <%= event.name %> &nbsp</span></h2>
                  <p></p>
                  <p></p>
                  <p>Summary: { <%= event.articles.count %> Events }, between { 3rd Jan 2018 } and { 24th Dec 2018 } The story of: ...</p>
                  <p><%= link_to "show event", event_path(event) %></p>
                  <%= link_to 'See event', event_path(event),
                        class: 'btn btn-default'%>
                </div>

                <!-- ---- TOPIC CARD END ----- -->


              <% end %>

    </div> <!-- col end -->
  </div> <!-- row end -->
</div> <!-- container end -->
