<!-- [ EVENTS INDEX ] HEADER ------------------------------- -->

<div class="header">

    <div class="banner-half"
    style="background-image:
      linear-gradient(-225deg,
      rgba(150,10,115,0.8) 0%,
      rgba(255,77,0,0.4) 50%),
    url(<%= @events.all.sample.image_url %>);">

        <!-- ---- HEADER TITLES CARD ----- -->
        <div class="text-center">

          <!-- TOPIC HEADER -->
          <h2><span
            class="blocked">&nbsp News Events &nbsp
          </span></h2>
          <!-- EVENT HEADER -->
          <p></p>
          <p></p>
          <p>The collection of all the news events in sift</p>
        </div>
        <!-- ---- HEADER CARD END ----- -->

  </div>
  <!-- banner-half end -->

</div>
<!-- header end -->
<!-- PAGE HEADER END------------------------------- -->


<!-- LIST  ------------------------------- -->

<div class="container">
  <div class="row">
    <div class='offset-xs-0 col-xs-12 offset-md-0 col-md-12'>


              <p>All news events within Sift:</p>
              <%  @events.each_with_index do | event, i | %>
              <br>

                <div class="a-card-event-box"
                style="background-image:
                  linear-gradient(-225deg,
                  rgba(150,10,115,0.8) 0%,
                  rgba(255,77,0,0.4) 50%),
                url(<%= event.image_url %>);">

                    <div class="event-header">
                      <div class="event-index">
                        <h3>#<%= (i + 1) %></h3>
                      </div>

                      <div class="event-num-articles text-right">
                         <h4><%= event.articles.count %> articles</h4>
                      </div>
                    </div>

                    <div class="event-icon-boxes">
                      <div class="event-location">
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        <span><%= event.location %></span>
                      </div>
                      <div class="event-date">
                        <span><%= event.articles.first.date_time_published.strftime("%A, %b %d") %></span>
                      </div>
                    </div>

                    <div class="event-topic">

                        <h2>
                          <span class="blocked">
                            &nbsp # &nbsp
                          </span>
                          <span class="blocked">&nbsp <%= event.topic.name %>
 &nbsp
                          </span>
                        </h2>
                    </div>

                    <div class="event-title">
                        <h2>
                          <span class="blocked">
                            &nbsp # &nbsp
                          </span>
                          <span class="blocked">&nbsp <%= event.name %>
                            &nbsp
                          </span>
                        </h2>
                    </div>

                    <div class="event-summary-container">
                      <p class="event-summary">Summary: <%= event.description %></p>
                    </div>

                    <div class="event-footer">
                      <%= link_to 'See Event', event_path(event), class: 'btn btn-default'%>
                    </div>

                </div>


                <!-- ---- [ EVENT CARD ]--------------------------------------------------- END ----- -->


              <% end %>

    </div> <!-- col end -->
  </div> <!-- row end -->
</div> <!-- container end -->
