<!-- [ EVENTS INDEX ] HEADER ------------------------------- -->

<div class="header">

    <div class="banner-half"
    style="background-image:
      linear-gradient(-225deg,
      rgba(150,10,115,0.8) 0%,
      rgba(255,77,0,0.4) 50%),
    url(<%= @articles.find(@articles.pluck(:id).sample).image_url %>);">

        <!-- ---- HEADER TITLES CARD ----- -->
        <div class="text-center">

          <!-- TOPIC HEADER -->
          <h2><span
            class="blocked">&nbsp News Events &nbsp
          </span></h2>
          <!-- EVENT HEADER -->
          <p></p>
          <p></p>
          <p>The collection of all the news events in sift</p>
        </div>
        <!-- ---- HEADER CARD END ----- -->

  </div>
  <!-- banner-half end -->

</div>
<!-- header end -->
<!-- PAGE HEADER END------------------------------- -->




<!-- LIST  ------------------------------- -->

<div class="container">
  <div class="row">
    <div class='offset-xs-0 col-xs-12 offset-md-0 col-md-12'>


              <p>All news events within Sift:</p>
              <%  @events.each_with_index do | event, i | %>

              <br>
                <!-- ---- EVENT CARD ----- -->

                <div class="a-card-event-box"
                style="background-image:
                  linear-gradient(-225deg,
                  rgba(150,10,115,0.8) 0%,
                  rgba(255,77,0,0.4) 50%),
                url(<%= event.image_url %>);">
                <h3>#<%= (i + 1) %></h3>
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                    <span class="blocked-sml">&nbsp &nbsp <%#= event.events.first.location %>  &nbsp &nbsp</span>
                    <span class="blocked-sml">&nbsp &nbsp <%#= event.events.first.date_time %>  &nbsp &nbsp</span>
                  <p></p>
                    <h2><span class="blocked">&nbsp # &nbsp</span>
                      <span class="blocked">&nbsp <%= event.topic.name %> &nbsp</span></h2>
                  <p></p>
                    <h2><span class="blocked">&nbsp # &nbsp</span>
                      <span class="blocked">&nbsp <%= event.name %> &nbsp</span></h2>
                  <p></p>
                  <p></p>
                  <p>Summary: { <%= event.articles.count %> articles }, between { 3rd Jan 2018 } and { 24th Dec 2018 } The story of: <%= event.description %></p>
                  <%= link_to 'See Event', event_path(event),
                        class: 'btn btn-default'%>
                </div>


                <!-- ---- EVENT CARD END ----- -->


              <% end %>

    </div> <!-- col end -->
  </div> <!-- row end -->
</div> <!-- container end -->
