<!-- [ HOME INDEX]  ----------------------------------------------------------- -->

 <div
   class="banner"
   style="background-image:
   linear-gradient(-225deg,
   rgba(161,90,187,0.6) 0%,
   rgba(45,23,54,0.8) 50%),
   url(<%= @articles.find(@articles.pluck(:id).sample).image_url %>)
   ;">

  <div class="banner-content">
    <h2>News Articles... <span id="txt-heading"></span></h2>
    <p class="txt-body-copy">To get started type in a topic,event, author, publisher or by location</p>

      <!-- [ HOME SEARCH ] ------------------------------- -->

      <%= form_tag(root_path, method: :get, role: 'form') do %>

        <div class='row'>
          <div class='offset-xs-0 col-xs-12 offset-md-0 col-md-12'>

            <!-- [ NEW SEARCH ] -----------------------------------  START --------------------------------------- -->

<!--             <div class="form-group">
              <div class="input-group">

                <input value=""
                  placeholder="Search: Topics, Events, Locations" class="form-control input-search"
                  id="query"
                  pattern=".*\w{3,}.*"
                  title="Words expected"
                  type="text"
                  name="keyword">

                <span class="input-group-btn">
                  <button
                    name="button"
                    type="submit"
                    class="btn btn-search">
                  <i class="fas fa-arrow-right">
                  </i>
                  </button>
                </span>

              </div> -->
              <!-- input group end -->
            <!-- </div> -->
            <!-- form group end -->


            <!-- [ NEW SEARCH ] -----------------------------------  END --------------------------------------- -->


            <!-- [ OLD SEARCH ] -----------------------------------  START --------------------------------------- -->


            <style>

            .form-group-landing {
              display: flex;
              padding: 20px;
            }

            </style>

            <div class="form-group form-group-landing">


              <%= text_field_tag :query, nil, placeholder: "Search: Topics, Events, Locations", class: 'form-control input-search'%>

              <%= button_tag(type: "submit", class: "btn btn-search") do %>
                  Search <i class="fas fa-arrow-right"></i>
              <% end %>

            </div>

            <!-- [ OLD SEARCH ] -----------------------------------  END --------------------------------------- -->

            <!-- ---- HEADER CARD END ----- -->

          </div>
          <!-- col end -->
        </div>
        <!-- row end -->
      <% end %>
      <!-- form tag end -->

  </div>
</div>


<!-- [ PAGE HEADER ]  ------------------------------ END ----------------------------- -->

<!--------------------------------------------------------------------------------------->

<!-- [ PAGE BODY ]  ------------------------------ START ----------------------------- -->



<!-- SEARCH RESULTS -------------------------[ START ]----------------------->

<div class="container">

  <div class="row">
    <div class='offset-xs-0 col-xs-12 offset-md-0 col-md-12'>

            <!-- If search done  -->
            <% if @documents.length.positive? %>
              <%  @documents.each_with_index do | doc, i | %>
                    <% @document = doc.searchable %>
                    <% @index = i %>

                    <!-- ---- [ EVENT  CARD ]  ----------------------------------- START ------------------------ -->

                    <% if doc.searchable_type === 'Event' %>
                      <%= render 'pages/_shared/searched_event_card',
                        article: @document
                      %>

                    <!-- ---- [ EVENT CARD ]  ----------------------------------- END ------------------------ -->

                    <!-- ---- [ TOPIC CARD ]  ----------------------------------- START ------------------------ -->

                    <% elsif doc.searchable_type === 'Topic' %>
                      <%= render 'pages/_shared/searched_topic_card',
                        article: @document
                      %>

                    <!-- ---- [ TOPIC CARD ] ----------------------------------- END ------------------------ -->

                    <!-- ---- [ ARTICLE CARD ] ------------------------ START ------------------------- -->

                    <% else %>
                      <%= render 'pages/_shared/searched_article_card',
                        article: @document
                      %>

                    <!-- ---- [ ARTICLE CARD ] ------------------------- END ----------------------------- -->

                    <% end %>

              <% end %>

          <!-- If no search done  -->
          <% else %>
                  <p>All Articles</p>

              <%  @articles.each_with_index do | article, i | %>


                <!-- ---- [ ARTICLE CARD ]  ----- -->

                <div class="s-card-article">
                  <div class="s-image-article"
                  style="background-image:
                  linear-gradient(-225deg,
                  rgba(161,90,187,0.6) 0%,
                  rgba(45,23,54,0.8) 50%),
                  url(<%= article.image_url %>);">
                  </div>

                  <div class="s-card-publisher">
                    <h3 class="s-card-header-text"><%= article.publisher.name %></h3>
                    <img class="s-image-publisher" src= <%= article.publisher.image_url %> >
                  </div>
                  <div class="s-card-body s-card-text" >
                    <h3><%= article.title %></h3>
                    <p><%= article.description%></p>
                    <p><%= article.date_time_published%></p>
                    <p>reading time</p>
                    <p><%= link_to "show article", article_path(article) %></p>
                  </div>
                </div>

                <!-- ---- [ ARTICLE CARD ]  ----- -->

              <% end %>

          <% end %>


    </div>
  </div>
</div>


<style>
  html {
  scroll-behavior: smooth;
}
</style>

<script>
    <% if params[:query].present? %>
      window.scrollBy(0, 600);
    <% end %>
</script>
