<!-- -------------------------------------------------------------------- -->

<div>
  <span><%= link_to "Previous Article", article_path(prev_in_event), class: "btn btn-outline-grey" %></span>

  <span><%= link_to "Next Article", article_path(next_in_event), class: "btn btn-outline-grey" %></span>
</div>

<!-- -------------------------------------------------------------------- -->

<div class="txt">

  <!-- -------------------------------------------------------------------- -->


  <h1> <%= article.title %></h1>

  <div class="col-xs-7">
    <br>
    <p><%= article.body_text %> </p>
  </div>

  <!-- -------------------------------------------------------------------- -->

  <div class="col-xs-2">
    <br>
    <p><strong>Publisher:</strong></p>
    <p><a href="<% article.publisher.web_url %>">
      <%= article.publisher.name %>
    </a></p>

    <br>
    <p><strong>Article:</strong></p>
      <p><%= article.date_time_published %></p>
      <p><a href= "<%= article.source_url %>" >Link</a></p>

    <br>
    <p><strong>Author:</strong></p>
    <p>
      <%= article.author.first_name %>
      <%= article.author.last_name %>
      <!-- <#%= article.author.twitter_handle %> -->
    </p>

    <br>
    <p><strong>Locations:</strong></p>
    <p>
      <%= article.location %>
    </p>

  </div>


</div>
