<!-- User Panel Section -->

<div>
    <div class="banner-half" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);">

      <p>Edit Profile</p>

      <div class="banner-content">

        <img src='https://images.ecosia.org/AcaxZs81iVoJ7z40B__Ge-4VK18=/0x390/smart/http%3A%2F%2Fwww.pclodge.com%2Fwp-content%2Fuploads%2F2014%2F08%2Fplaceholder.png'
        class="avatar-large"/>

        <%= link_to 'Edit', edit_profile_path(current_user), class: 'btn' %>

        <p><%= current_user.first_name %> <%= current_user.last_name %></p>

      </div>
    </div>
  </div>
<div>

<%= simple_form_for(current_user, :url => profile_path, :method => :patch) do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :photo %>
  <%= f.button :submit %>
<% end %>

