

<!-- User Panel Section -->
<% if current_user.photo.nil? %>
<div class="banner-half" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://cdn.dribbble.com/users/43342/screenshots/5383946/ezgif.com-optimize_2_.gif');">
<% else %>
<div class="banner-half" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= current_user.photo %> );">
<% end %>
    <p>Profile</p>

    <div class="banner-content">

      <% if current_user.photo.nil? %>
        <img src='https://cdn.dribbble.com/users/43342/screenshots/5383946/ezgif.com-optimize_2_.gif'
        class="img-rnd-large"/>
      <% else %>
        <img src= <%= current_user.photo %> class="img-rnd-large"/>
      <% end %>

      <%= link_to 'Edit', edit_profile_path(current_user), class: 'btn' %>

      <p><%= current_user.first_name %> <%= current_user.last_name %></p>
      <p><%= current_user.email %></p>

    </div>
  </div>
  <!-- banner-half END -->

<div class="container">

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#saved-articles">Saved Articles</a></li>
    <li><a data-toggle="tab" href="#followd-lists">Followed Lists</a></li>
  </ul>

  <div class="tab-content">

    <!-- SAVED ARTICLES SECTION --------------------------------------------------------------------------------------------------------------------------------------------- -->
    <div id="saved-articles" class="tab-pane fade in active">


      <br>
      <h3>Your Saved Articles:</h3>
      <br>

          <% @articles.each_with_index do |article, i| %>

            <% publisher_id = article.publisher_id %>
            <% publisher_name = Publisher.find_by(id: publisher_id) %>

            <!-- ---- ARTICLE CARD ----- -->
            <div class="s-card-article">
              <div class="s-image-article" style="background-image: linear-gradient(-225deg, rgba(161,90,187,0.6) 0%, rgba(45,23,54,0.8) 50%), url(<%= article.image_url %>);"><h3>#<%= (i + 1) %></h3>
              </div>

              <div class="s-card-publisher">
                <h3 class="s-card-header-text"><%= article.publisher.name %></h3>
                <img class="s-image-publisher" src= <%= article.publisher.image_url %> >
              </div>
              <div class="s-card-body s-card-text" >
                <h3><%= article.title %></h3>
                <br>
                <p><%= article.description%></p>
                <p><%= article.date_time_published%></p>
                <p><% time_read = article.body_text.reading_time :format => :approx %></p>


              <h4><%= time_read.include?('seconds') ? '1 minute' : time_read %> read</h4>

                <% day_num = article.date_time_published.mday %>
                    <% case day_num
                       when 1 %><% date_sufix = 'st' %>
                    <% when 2 %><% date_sufix = 'nd' %>
                    <% when 3 %><% date_sufix = 'rd' %>
                    <% else %><% date_sufix = 'th' %>
                    <% end %>
                <p><%= article.date_time_published.mday %><%= date_sufix %></p>
                <p><%= article.date_time_published.strftime("%H") %>.00</p>
                <% time_read = article.body_text.reading_time :format => :approx %>
                  <!-- Below: If time is only seconds display '1 minute' otherwise display actual time -->
                <br>
              <p><%= link_to "See Article", article_path(article) %></p>

              </div>
            </div>
            <!-- ---- ARTICLE CARD END----- -->

          <% end %>

    </div>

    <!-- FOLLOWED ITEMS SECTION ------------------------------------------------------------------------------------------------------------------------------------------------ -->

    <div id="followd-lists" class="tab-pane fade">
    <br>
      <h3>Followed Topic and Events</h3>
    <br>
      <% current_user.return_unique_items.each_with_index do | following_item, i | %>

          <% item_type = following_item.follower_type %>

          <div class="following-item-card">
              <% if item_type == 'Event' %>

                  <!-- ---- [ EVENT CARD ] [ START ] ----- -->

                  <div class="a-card-event-box"
                  style="background-image:
                    linear-gradient(-225deg,
                    rgba(150,10,115,0.8) 0%,
                    rgba(255,77,0,0.4) 50%),
                  url(<%= following_item.follower.image_url %>);">
                  <h3>#<%= (i + 1) %></h3>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                      <span class="blocked-sml">&nbsp &nbsp <%#= following_item.following_items.first.location %>  &nbsp &nbsp</span>
                      <span class="blocked-sml">&nbsp &nbsp <%#= following_item.following_items.first.date_time %>  &nbsp &nbsp</span>
                    <p></p>
                      <h2><span class="blocked">&nbsp # &nbsp</span>
                        <span class="blocked">&nbsp <%= following_item.follower.topic.name %> &nbsp</span></h2>
                    <p></p>
                      <h2><span class="blocked">&nbsp # &nbsp</span>
                        <span class="blocked">&nbsp <%= following_item.follower.name %> &nbsp</span></h2>
                    <p></p>
                    <p></p>
                    <p>Summary: { <%= following_item.follower.articles.count %> articles }, between { 3rd Jan 2018 } and { 24th Dec 2018 } The story of: <%= following_item.follower.description %></p>
                    <%= link_to 'See event', event_path(following_item.follower),
                          class: 'btn btn-default'%>
                  </div>

                  <!-- ---- [ EVENT CARD ] [ END ] ----- -->

                <% else %>

                <!-- ---- [ TOPIC CARD ] [ START ] ----- -->

                <div class="a-card-event-box"
                style="background-image:
                  linear-gradient(-225deg,
                  rgba(18,240,181,0.6) 0%,
                  rgba(15,153,200,0.8) 50%),
                  url(<%= following_item.follower.image_url %>);">
                <h3>#<%= (i + 1) %></h3>
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                    <span class="blocked-sml">&nbsp &nbsp <%#= topic.events.first.location %>  &nbsp &nbsp</span>
                    <span class="blocked-sml">&nbsp &nbsp <%#= topic.events.first.date_time %>  &nbsp &nbsp</span>
                  <p></p>
                    <h2><span class="blocked">&nbsp # &nbsp</span> <span class="blocked">&nbsp <%= following_item.follower.name %> &nbsp</span></h2>
                  <p></p>
                    <h2><span class="blocked">&nbsp # &nbsp</span> <span class="blocked">&nbsp <%= following_item.follower.events.count %> events &nbsp</span></h2>
                  <p></p>
                  <p></p>
                  <p>Summary: { <%= following_item.follower.events.count %> }, between { 3rd Jan 2018 } and { 24th Dec 2018 } The story of: ...</p>
                  <%= link_to 'See topic', topic_path(following_item.follower),
                        class: 'btn btn-default'%>
                </div>

                <!-- ---- [ TOPIC CARD ] [ END ] ----- -->

              <% end %>

          </div>

      <% end %>

    </div>
  </div>
</div>
